*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.signup, .Login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #888;
    padding:5rem 6rem;
    border-radius: 10px;
    width: 500px;
}
.signup>h2, .Login>h2{
    font-weight: 600;
    padding-bottom: 8px;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
form>h2{
    font-size: 26px;
}
.sub-title{
    padding-bottom: 18px;
    text-align: center;
}
form input{
    background-color: #fff;
    padding: 14px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 18px;
}
form label{
    font-size: 18px;
}
form button, button{
    background-color: transparent;
    font-size: 18px;
    padding: .4rem;
    outline: none;
    border: 1px solid #000;
    margin: .3rem 0;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    font-weight: normal !important;
}
form .c-btn{
    background-color: #884ef3;
    color: #fff;
    border: none !important;
}
form .c-btn:disabled{
    background-color: #888;
}

@keyframes tweak {
    0%{
        padding:9rem 3rem;  
    }
    100%{
        padding: 3rem 9rem;
    }
}

.Board{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px #fff solid;
    border-radius: 20px;
}
.Board .cta{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    width: fit-content;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.Board .top img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.Board .top{
    width: 100%;
    height: 100%;
    padding: 1px;
}
.Board .cta>a{
    text-decoration: none;
    color: #000;
}
.Board>.bottom{
    width: 100%;
}
.Board>.bottom h2{
    font-size: 32px;
    padding-bottom: 32px;
}
.Board>.bottom p{
    padding-bottom: 64px;
}
.Board .cta>.b-btn:first-of-type{
    background-color: #fff;
}
.Board .ct {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.b-btn{
    padding: 14px 42px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
}
.g-btn{
    background-color: transparent;
    border: 1px solid #fff;
    transition: .3s;
}
.g-btn:hover{
    background-color: #fff;
    border: none;
}
@media (max-width: 768px) {
    .Board, .signup, .Login{
        flex-direction: column;
        height: 100vh;
        width: 100%;
        border: none;
        padding:0;
    }
    .Board .top{
        height: 50%;
        display: block;
        padding: 8px;
    }
    .Board>.bottom h2{
        font-size: 28px;
        padding: 32px 0;
    }
    .Board>.bottom{
        height: 50%;
    }
    .Board .ct{
        width: 100%;
        padding: 8%;
    }
    .Board .cta{
        width: 100%;
    }
    .Board .cta>.b-btn{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding: auto;
        text-align: center;
    }

}
@media (max-width: 1028px) and (min-width: 768px) {
    .Board{
        flex-direction: column;
    }
    .Board .top{
        height: 50%;
        display: none;
    }
    .Board>.bottom h2{
        font-size: 28px;
        padding: 32px 0;
    }
}